<!-- Jumbotron Header -->

<div>
    <div class="clear jumbotron" id="jumbo">
        <table>
            <tbody>
                <tr>
                    <td width="15%" style="text-align: center; vertical-align: middle">
                        <img src="/images/logoTransparent.gif" width="80%">
                    </td>
                    <td width=65%" style="vertical-align: middle">
                        <h1><%= model.page.configurations.applicationName %></h1>
                        <p>Bringing together <%= model.page.configurations.townName %> students, families, faculty and administrators in a user-friendly mobile application.</p>
                    </td>
                    <td style="vertical-align: middle">
                        <p>
                            <a href="/download/ios" target="_blank" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Download on iOS</a>
                        </p>
                        <p>
                            <a href="/app" target="_blank" class="btn btn-success btn-primary btn-block"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Launch Web App</a>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <br>

    <div class="innerHolder">
        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h2>Features</h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <table>
                <tbody>
                <tr>
                    <td width="33%">
                        <div class="hero-feature">
                            <img src="/images/mobile.png" width="80%" alt="Mobile">
                            <div class="caption">
                                <h3>Mobile Applications</h3>
                                <p>Everything you need, on the go.</p>
                                <p>
                                    <a href="/download/ios" class="btn btn-primary">Download on iOS</a>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td width="33%">
                        <div class="hero-feature">
                            <img src="/images/push.png" width="60%" alt="Mobile">
                            <div class="caption">
                                <h3>Push Notifications</h3>
                                <p>Suscribe to cancellations, alerts, news and custom groups.</p>
                                <p>
                                    <a href="#push"><button class="btn btn-primary">Learn More</button></a>
                                </p>
                            </div>
                        </div>
                    </td>
                    <td width="33%">
                        <div class="hero-feature">
                            <img src="/images/secure.png" width="60%" alt="Mobile">
                            <div class="caption">
                                <h3>Administrative Control</h3>
                                <p>Content that is both informative and secure.</p>
                                <p>
                                    <a href="#security"><button class="btn btn-primary">Security</button></a>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <table>
            <tbody>
            <tr>
                <td>
                    <!-- /.row -->

                    <div style="float:left" class="col-lg-9">
                        <div id="push">
                            <div>
                                <h2>Information <b><u>You</u></b> Want</h2>
                            </div>
                        </div>
                        <div>
                            <p class="info">
                                With push notifications enabled on your iOS device, you can receive real-time alerts for a wide range of events, like:
                                <ul>
                                    <li><p class="info">School cancellations and delays</p></li>
                            <li><p class="info">News, events and community service</p></li>
                            <li><p class="info">Posts from classes, athletics and extracurricular activities</p></li>
                            </ul>
                            </p>
                        </div>
                        <div id="security">
                            <div>
                                <h2>Content Control</h2>
                            </div>
                        </div>
                        <div>
                            <p class="info">
                                We make sure that only approved content users and administrators can post to the application. Still, students can share their content by having a faculty
                                member post on their behalf.
                            </p>
                            <p class="info">
                                <%= model.page.configurations.applicationName %> uses password encryption, user verification and other industry standard techniques to keep your content safe.
                            </p>
                        </div>
                        <div id="stats">
                            <div>
                                <h2>Statistics</h2>
                            </div>
                        </div>
                        <!-- /.row -->

                        <!-- Page Features -->
                        <div class="text-center">
                            <table style="width: 100%;">
                                <tbody>
                                <tr>
                                    <td width="33%">
                                        <div class="hero-feature-small">
                                            <div id="install">
                                                <img src="/images/spinner.gif" width="30%" alt="Spinner">
                                            </div>
                                            <div class="caption">
                                                <h3>App Downloads</h3>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="33%">
                                        <div class="hero-feature-small">
                                            <div id="user">
                                                <img src="/images/spinner.gif" width="30%" alt="Spinner">
                                            </div>
                                            <div class="caption">
                                                <h3>Faculty Users</h3>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="33%">
                                        <div class="hero-feature-small">
                                            <div id="content">
                                                <img src="/images/spinner.gif" width="30%" alt="Spinner">
                                            </div>
                                            <div class="caption">
                                                <h3>Total Posts</h3>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row" id="security">
                            <div class="col-lg-12">
                                <h2>Learn More</h2>
                            </div>
                        </div>
                        <div>
                            <div>
                                <p class="info">
                                    Questions? Want to see the technology of <%= model.page.configurations.applicationName %> at your school? <a href="mailto:<%= model.page.configurations.teamMail %>">Contact our team</a> for more information.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="logo col-lg-3" style="float: left;">
                        <a>
                            <img src="/images/screen1.png" alt="One" border="0" width="200" style="PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 20px">
                            <img src="/images/screen2.png" alt="Two" border="0" width="200" style="PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px">
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="jumbotron" id="jumbo">
            <table>
                <tbody>
                <tr>
                    <td style="text-align: center;vertical-align: middle;padding-right: 20px;" width="20%">
                        <p>
                            <a href="/download/ios" target="_blank" class="btn btn-primary btn-block"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Download on iOS</a>
                        </p>
                        <p>
                            <a href="/app" target="_blank" class="btn btn-success btn-primary btn-block"><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>Launch Web App</a>
                        </p>
                        <img src="/images/logoTransparent.gif" width="50%">
                    </td>
                    <td width=50%" style="vertical-align: middle">
                        <h1>Get started today.</h1>
                        <p>Free, easy and informative.</p>
                    </td>
                    <td style="text-align: center; vertical-align: middle">
                        <img src="/images/school.png" width="100%">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>

    var first = true;

    $('#stats').on('inview', function(event, isInView) {
        if (isInView && first) {
            first = false;
            $.ajax({
                url: "/statistics",
                type: "post",
                data: { key: "value" }, // Encrypt all data...
                datatype: 'json',
                crossDomain: true,

                success: function(response){
                    var install = response["install"];
                    var user = response["user"];
                    var content = response["content"];
                    if (user != null && install != null & content != null) {
                        $("#user").html("<h2>" + user + "</h2>");
                        $("#install").html("<h2>" + install + "</h2>");
                        $("#content").html("<h2>" + content + "</h2>");
                    } else {
                        $("#user").html("<h2>---</h2>");
                        $("#install").html("<h2>---</h2>");
                        $("#content").html("<h2>---</h2>");
                    }
                },

                error: function(request, status, error) {
                    $("#user").html("<h2>---</h2>");
                    $("#install").html("<h2>---</h2>");
                    $("#content").html("<h2>---</h2>");
                }
            });
        }
    });
</script>